
<div {{product}}>
<div class="card" style="width: 15rem;"> 
        <img src={{img}} class="card-img-top" alt="foto">
        <div class="card-body">
            <h5 class="card-title">{{detail}}</h5>
            <p class="card-text"{{title}}></p>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>

</div>
